.logo{
    height:auto;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
  
  @media (prefers-reduced-motion: no-preference) {
   .logo {
      animation: logo-spin 4s linear;
    }
  }

  @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
    from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(360deg);
      }
 }
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
    from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(360deg);
      }
 }
 
 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }