/* md and large */
.fade-out,
.landing-main-container {
  -webkit-animation: fade-out 1s ease-out 4.5s both;
  animation: fade-out 1s ease-out 4.5s both;
}

.logo {
    height:auto;
    -webkit-animation: logo 3s cubic-bezier(0, 0, 1, 1) both;
    animation: logo 3s cubic-bezier(0, 0, 1, 1) both;
}

.logo-text {
  -webkit-animation: logo-text 1.5s cubic-bezier(0, 0, 1, 1) 3s both;
	        animation: logo-text 1.5s cubic-bezier(0, 0, 1, 1) 3s both;
          color: var(--yellow-color-one);
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  }
  @keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  }

@keyframes logo {
  from {
     width: 0;      
  }
  to {
    width: 25rem;
  }
}

@keyframes logo {
  from {
      width: 0;      
  }
   to {
    width: 25rem;
  }
}

@-webkit-keyframes logo-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* sm */

.sm-fade-out,
.sm-landing-main-container{
-webkit-animation: fade-out 1s ease-out 3.5s both;
animation: fade-out 1s ease-out 3.5s both;
}

.sm-logo {
  height:auto;
  -webkit-animation: sm-logo 4s ease-in-out both;
  animation: sm-logo 4s ease-in-out both;
}

.sm-logo-text {
-webkit-animation: logo-text 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
        animation: logo-text 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
  color: var(--yellow-color-one);
}

@-webkit-keyframes fade-out {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  }
  }
  @keyframes fade-out {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  }
  }

@-webkit-keyframes sm-logo-text {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
@keyframes sm-logo-text {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@keyframes sm-logo {
from {
   width: 0;      
}
to {
  width: 15rem;
}
}

@keyframes sm-logo {
from {
    width: 0;      
}
 to {
  width: 15rem;
}
}

