.navbar {
	-webkit-animation: navbar 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: navbar 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.kurzawa {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-link {
  display: inline-block;
  transition: 500ms ease-in-out;
}

.nav-link:after,
.nav-link:before {
  display:block;
  content: '';
  width: inherit;
  border: solid 1px;  
  transform: scale(0);  
  transition: 500ms ease-in-out;
}

.nav-link:hover:after,
.nav-link:hover:before { 
  transform: scale(1);
  border: solid 1px #980D1C;
}


@-webkit-keyframes navbar {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes navbar {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }