#Tech {
    border-top: 3px solid #eed29b89;
}

.tech-icons-title {
    transition: 500ms ease-in-out;
}

.tech-icons-title:hover {
   color: #BC1021;
}

.tech-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}